<!DOCTYPE html>
<title>STIB-MIVB live vehicle map</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/leaflet.css') }}">
<script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/leaflet-providers.js') }}"></script>

<div id=map style="width:1000px; height:800px;"></div>
<script>

    function gjsonUpdater(layer) {
        function update(data) {
            var oldLayers = layer.getLayers();

            layer.addData(data);

            var n = oldLayers.length;
            for(var i=0; i<n; i++) {
                layer.removeLayer(oldLayers[i]);
            }
        }
        return update;
    }

    function refreshGjson(layer) {
        return $.getJSON("{{ url_for('positions') }}", gjsonUpdater(layer));
    }

    var markerStyle = {
        color: '#000',
        weight: 2,
        fillOpacity: 1,
        radius: 6,
    }

    function stylePoint(feature, latlng) {
        var style = $.extend({}, markerStyle, {"fillColor": feature.properties["marker-color"]});
        var marker = L.circleMarker(latlng, style);
        return marker.bindTooltip("Line " + feature.properties["lineId"]);
    }

    var map = L.map("map").setView([50.845, 4.360], 12);

    L.tileLayer.provider("OpenStreetMap.Mapnik").addTo(map);

    var gjsonLayer = L.geoJson(undefined, {pointToLayer: stylePoint}).addTo(map);
    refreshGjson(gjsonLayer);

</script>
