<!DOCTYPE html>
<html>
  <head>
    <title>STIB-MIVB live vehicle map</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/leaflet.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('colors_css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/leaflet-providers.js') }}"></script>
    <script>var routes = {{ shown_routes|tojson|safe }};</script>
  </head>
  <body>
    <div id=routes>
    {% for name in routes.keys() %}
      <input type="checkbox" id="rt{{ name }}"><label class="route" for="rt{{ name }}"></label>
    {% endfor %}
    </div>
    <div id=map></div>
    <script>

      function gjsonUpdater(layer) {
          function update(data) {
              var oldLayers = layer.getLayers();

              layer.addData(data);

              var n = oldLayers.length;
              for(var i=0; i<n; i++) {
                  layer.removeLayer(oldLayers[i]);
              }
          }
          return update;
      }

      function refreshGjson(layer) {
          return $.getJSON("{{ url_for('positions') }}?lines="+routes.join(','), gjsonUpdater(layer));
      }

      function repeatRefresh(layer, delta) {
          var timer = 0;
          function repeat() {
              var deferred = refreshGjson(layer);
              deferred.always(function() { timer = setTimeout(repeat, delta); });
          }
          function stop() {
              if (timer) {
                  clearTimeout(timer);
              }
          }
          repeat();
          return stop;
      }

      var markerStyle = {
          color: '#000',
          weight: 2,
          fillOpacity: 1,
          radius: 6,
      }

      function stylePoint(feature, latlng) {
          var style = $.extend({}, markerStyle, {"fillColor": feature.properties["marker-color"]});
          var marker = L.circleMarker(latlng, style);
          return marker.bindTooltip("Line " + feature.properties["lineId"]);
      }

      var map = L.map("map").setView([50.845, 4.360], 12);
      L.tileLayer.provider("OpenStreetMap.Mapnik").addTo(map);
      var gjsonLayer = L.geoJson(undefined, {pointToLayer: stylePoint}).addTo(map);

      stopRefresh = repeatRefresh(gjsonLayer, 20000);


      // Handle the route selector
      function routeClicked() {
          var name = this.id.substring(2);
          if (!this.checked) {
              var i = routes.indexOf(name);
              routes.splice(i, 1);
          } else {
              routes.push(name);
          }
      }

      $('#routes input[type="checkbox"][id^="rt"]').each(function() {
          var name = this.id.substring(2);
          if (routes.indexOf(name) >= 0) {
              this.checked = true;
          }
          $(this).change(routeClicked);
      });

    </script>
  </body>
</html>
